<svg width="98px" height="96px" viewBox="0 0 98 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    				<title>Group 9</title>
    				<desc>Created with Sketch.</desc>
    				<defs>
        			<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            			<feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            			<feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            			<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.327700408 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            				<feMerge>
                			<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                			<feMergeNode in="SourceGraphic"></feMergeNode>
            				</feMerge>
        					</filter>
        					<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            				<feOffset dx="-1" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            				<feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            				<feColorMatrix values="0 0 0 0 0.072783801   0 0 0 0 0.0700971988   0 0 0 0 0.0700971988  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            				<feMerge>
              				<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                			<feMergeNode in="SourceGraphic"></feMergeNode>
            				</feMerge>
        			</filter>
        			<path d="M26,19.8870968 L4.99854806,19.8870968 C2.23083496,19.8870968 0,22.1261769 0,24.8882221 L0,75.9988746 C0,78.7524814 2.2379262,81 4.99854806,81 L29.0014519,81 C31.769165,81 34,78.7609199 34,75.9988746 L34,24.8882221 C34,22.995344 32.9424834,21.3416145 31.3846162,20.4927101 L31.3846154,2.7010977 C31.3846154,1.2047913 30.1792282,0 28.6923077,0 C27.2084128,0 26,1.20932263 26,2.7010977 L26,19.8870968 Z" id="path-3"></path>
        			<mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="34" height="81" fill="white">
            		<use xlink:href="#path-3"></use>
        			</mask>
					<rect id="path-5" x="3.1875" y="24" width="27.625" height="52"></rect>
        			<mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="27.625" height="52" fill="white">
            		<use xlink:href="#path-5"></use>
        			</mask>
        			<rect id="path-7" x="0" y="0" width="24" height="25"></rect>
        			<path d="M3.12936331,17.390411 C2.54510479,16.1620113 2.20826781,14.7934027 2.18331177,13.3493151 L21.8166908,13.3493151 C21.7917712,14.7937999 21.4553334,16.1623012 20.871681,17.390411 L3.12936331,17.390411 Z M4.39672551,19.390411 C6.19722056,21.5930488 8.93454878,23 12,23 C15.0669155,23 17.8047764,21.5936301 19.6050484,19.390411 L4.39672551,19.390411 Z M2.19305998,11.3493145 C2.26202862,9.89742963 2.64592493,8.52809483 3.27794812,7.30821918 L20.7208923,7.30821918 C21.3535288,8.52837661 21.7378567,9.89782058 21.806921,11.3493151 L2.19305249,11.3493151 Z M4.65144643,5.30821918 C6.44991015,3.27893314 9.07533624,2 12,2 C14.9232321,2 17.5480809,3.27943083 19.3466883,5.30821918 L4.65144643,5.30821918 Z" id="path-8"></path>
        			<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-9">
            		<feOffset dx="-1" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            		<feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            		<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.579851676 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            		<feMerge>
               		<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                	<feMergeNode in="SourceGraphic"></feMergeNode>
            		</feMerge>
        			</filter>
        			<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-10">
            		<feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            		<feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            		<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.579851676 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            		<feMerge>
                	<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                	<feMergeNode in="SourceGraphic"></feMergeNode>
            		</feMerge>
        			</filter>
        			<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-11">
            <feOffset dx="-1" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.579851676 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-9" transform="translate(9.000000, 4.000000)">
            <g id="Group-7" filter="url(#filter-1)">
                <g id="Group-6" filter="url(#filter-2)" stroke-width="2">
                    <use id="Combined-Shape" stroke="#D3CFC8" mask="url(#mask-4)" fill="#423C3C" xlink:href="#path-3"></use>
                    <use id="Rectangle-9" stroke="#979797" mask="url(#mask-6)" xlink:href="#path-5"></use>
                </g>
                <g id="Group-5" transform="translate(5.000000, 28.000000)">
                    <g id="Group-4">
                        <g id="glow">
                            <use fill="#6EF95A" fill-rule="evenodd" xlink:href="#path-7"></use>
                            <use stroke="#979797" stroke-width="1" xlink:href="#path-7"></use>
                        </g>
                    </g>
                    <use id="Combined-Shape" fill="#36393F" xlink:href="#path-8"></use>
                </g>
            </g>
            <g opacity="0" id="greensig" filter="url(#filter-9)" transform="translate(64.434199, 26.402443) rotate(-12.000000) translate(-64.434199, -26.402443) translate(44.434199, 17.402443)" stroke="#6EF95A" stroke-width="2" stroke-linecap="square">
                <path d="M0.0883655648,8.46407021 L13.5199314,8.46407021" id="Line"></path>
                <path d="M13.6966625,8.46407021 L16.8778229,17.4380242" id="Line"></path>
                <path d="M26.2445728,8.26011671 L23.0634124,17.2340707 L26.2445728,8.26011671 Z" id="Line"></path>
                <path d="M22.8866813,17.2340707 L20.1815214,0.126674244 L22.8866813,17.2340707 Z" id="Line"></path>
                <path d="M17.054554,17.2340707 L20.0047903,0.126674244" id="Line"></path>
                <polyline id="Line" points="26.4213039 8.46407021 29.398464 8.46407021 39.8528697 8.46407021"></polyline>
            </g>
            <g opacity="0" id="orangesig" filter="url(#filter-10)" transform="translate(46.000000, 31.452978)" stroke="#FFB759" stroke-width="2" stroke-linecap="square">
                <path d="M0.088368254,7.42596855 L13.5203429,7.42596855" id="Line"></path>
                <path d="M13.6970794,7.42596855 L16.8783365,15.2992846" id="Line"></path>
                <path d="M26.2453714,7.24702954 L23.0641143,15.1203456 L26.2453714,7.24702954 Z" id="Line"></path>
                <path d="M22.8873778,15.1203456 L20.1821356,0.111137895 L22.8873778,15.1203456 Z" id="Line"></path>
                <path d="M17.055073,15.1203456 L20.0053991,0.111137895" id="Line"></path>
                <polyline id="Line" points="26.422108 7.42596855 29.3993587 7.42596855 39.8540826 7.42596855"></polyline>
            </g>
            <g opacity="0" id="pinksig" filter="url(#filter-11)" transform="translate(63.763353, 54.471812) rotate(9.000000) translate(-63.763353, -54.471812) translate(45.092779, 46.471812)" stroke="#FFA5FF" stroke-width="2" stroke-linecap="square">
                <path d="M0.0826131624,7.72093023 L12.6398138,7.72093023" id="Line"></path>
                <path d="M12.8050402,7.72093023 L15.779114,15.9069767" id="Line"></path>
                <path d="M24.5361092,7.53488372 L21.5620354,15.7209302 L24.5361092,7.53488372 Z" id="Line"></path>
                <path d="M21.3968091,15.7209302 L18.8677491,0.115552326 L21.3968091,15.7209302 Z" id="Line"></path>
                <path d="M15.9443403,15.7209302 L18.7025228,0.115552326" id="Line"></path>
                <polyline id="Line" points="24.7013356 7.72093023 27.4846892 7.72093023 37.2585362 7.72093023"></polyline>
            </g>
        </g>
    </g>
</svg>