{% extends "location/header.html" %}
{% block content %}


<!--location script-->
<script type="text/javascript">

getLocationWall()
var x= document.getElementById('nope')
function getLocationWall() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPositionWall);

    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPositionWall(position) {

    document.getElementById('lonload').value = position.coords.longitude;
    document.getElementById('latload').value = position.coords.latitude;


}




function enable()
{
var x = document.getElementById("submit");

x.removeAttribute("disabled");
}

setTimeout("enable()", 2000);


</script>

<!--start page with location form-->
<div class='col-sm-8 col-sm-offset-2' onload="enable()">
<form method= 'get' action="/foo/">{% csrf_token %}
		<input  id='latload'  type= 'number' step='any' value='0' name='latitude' style="display:none">
		<input  id='lonload'  type= 'number' step='any' value='0' name='longitude' style="display:none">

	<p id= 'walltext'>Here you can listen to the sounds in your area. The default location is set to Athens, GA. To use your location instead, click</p>

	
		<input  class="btn btn-success" type='submit' id='submit' value='here' style="color:#34373a; font-size: 25px; width: 100%;" disabled />
</form></br></br>

<p id= 'nope'></p>

<!--list wall objects-->
{% for obj in object_listboy %}	
<div class='row'>
	<div class='col-sm-12'>
		<div class='thumbnail'>
		
			<div class='caption'>
				<audio controls>
					<source src="{{obj.sound.url}}" type="audio/wav">
  					<source src="{{obj.sound.url}}" type="audio/ogg">
  					<source src="{{obj.sound.url}}" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				<p style="font-size: 9px">title:{{ obj.title }}</p>
						
			</div>
			
		</div>
		
	</div>
<!-- <hr/ style='border-color: #92969b'> -->
</div>
{% endfor %}
</div>




{% endblock %}
